@model WebApplication3.Models.UniformCategory
@{
    ViewBag.Title = "Add Uniform Category";
}

<h2>Add Uniform Category</h2>

@using (Html.BeginForm("CreateUniformCategory", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Add Category" class="btn btn-success" />
                <a href="@Url.Action("UniformCategories", "Admin")" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </div>
}
