@model WebApplication3.Models.Student

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.FullName)
        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FullName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.IDNumber)
        @Html.TextBoxFor(m => m.IDNumber, new { @class = "form-control", maxlength = "13" })
        @Html.ValidationMessageFor(m => m.IDNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="@Url.Action("StudentList", "Admin")" class="btn btn-secondary">Cancel</a>
}
